<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysProductionMapper">
	
    <delete id="deleteProductionByIds" parameterType="String">
        delete from sys_production where production_id in 
        <foreach item="productionId" collection="array" open="(" separator="," close=")">
            #{productionId}
        </foreach>
    </delete>
    <select id="selectProductionVo" resultType="com.ruoyi.system.vo.SysProductionVo">
        select t.*,p.project_name from sys_production t left join sys_project p on t.project_number = p.project_number
    </select>

</mapper>