<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysProjectMapper">
    

	<sql id="selectProjectVo">
        select project_id,project_number, project_name, customer_id, status, amount, pm_user_id, delivery_date, deal_flag, del_flag, create_by, create_time, update_by, update_time, remark from sys_project
    </sql>

    <select id="selectSysProjectListWithCustomerName" parameterType="com.ruoyi.system.domain.SysProject" resultType="com.ruoyi.system.vo.SysProjectVo">
        select p.*,c.customer_name,u.user_name as pm_user_name
        from sys_project p
        left join sys_customer c on p.customer_id=c.customer_id
        left join sys_user u on u.user_id=p.pm_user_id
        where p.del_flag=0
            <if test="projectId != null "> and p.project_id = #{projectId}</if>
            <if test="projectName != null  and projectName != '' "> and p.project_name like concat('%',#{projectName},'%')</if>
            <if test="customerId != null "> and p.customer_id = #{customerId}</if>
            <if test="status != null "> and p.status = #{status}</if>
            <if test="amount != null "> and p.amount = #{amount}</if>
            <if test="pmUserId != null "> and p.pm_user_id = #{pmUserId}</if>
            <if test="deliveryDate != null "> and delivery_date = #{deliveryDate}</if>
            <if test="dealFlag != null "> and deal_flag = #{dealFlag}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(p.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(p.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="remark != null  and remark != '' "> and p.remark = #{remark}</if>
    </select>
    <select id="earningReportMonth" resultType="com.ruoyi.common.core.domain.Echart">
        SELECT DATE_FORMAT(create_time, '%Y-%m') AS xaxis,SUM(totalAmount) AS yaxis FROM sys_project where deal_flag = 1 GROUP BY xaxis
    </select>
    <select id="earningReportQuarter" resultType="com.ruoyi.common.core.domain.Echart">
        SELECT
            CONCAT(YEAR(create_time) , '第',QUARTER(create_time),'季度' ) as xaxis,
            SUM(totalAmount) AS yaxis
        FROM
            sys_project where deal_flag = 1
        GROUP BY YEAR(create_time),QUARTER(create_time)
    </select>
    <select id="earningReportYear" resultType="com.ruoyi.common.core.domain.Echart">
        SELECT YEAR(create_time) AS xaxis,SUM(totalAmount) AS yaxis FROM sys_project where deal_flag = 1 GROUP BY xaxis
    </select>
    <select id="customerReportAll" resultType="com.ruoyi.common.core.domain.Echart">
        SELECT
            c.customer_name as xaxis,
            SUM(p.totalAmount) AS yaxis
        FROM sys_project p
                 LEFT JOIN sys_customer c ON p.customer_id=c.customer_id
        WHERE p.deal_flag=1
        GROUP BY p.customer_id ORDER BY yaxis DESC
    </select>
    <select id="customerReportPreviousYear" resultType="com.ruoyi.common.core.domain.Echart">
        SELECT
            c.customer_name as xaxis,
            SUM(p.totalAmount) AS yaxis
        FROM sys_project p
                 LEFT JOIN sys_customer c ON p.customer_id=c.customer_id
        WHERE p.deal_flag=1
          AND
            YEAR(p.create_time) = YEAR(NOW())-1
        GROUP BY p.customer_id ORDER BY yaxis DESC
    </select>
    <select id="customerReportThisYear" resultType="com.ruoyi.common.core.domain.Echart">
        SELECT
            c.customer_name as xaxis,
            SUM(p.totalAmount) AS yaxis
        FROM sys_project p
                 LEFT JOIN sys_customer c ON p.customer_id=c.customer_id
        WHERE p.deal_flag=1
          AND
            YEAR(p.create_time) = YEAR(NOW())
        GROUP BY p.customer_id ORDER BY yaxis DESC
    </select>
    <select id="selectPerformanceCompletionByUser" resultType="com.ruoyi.common.core.domain.Echart">
        SELECT u.operational_indicator AS xaxis,IFNULL(SUM(totalAmount),0) AS yaxis
        FROM sys_project p
                 RIGHT JOIN sys_user u ON u.user_id=p.pm_user_id
        WHERE p.pm_user_id= 103
          AND DATE_FORMAT(p.create_time, '%Y-%m') = DATE_FORMAT(NOW(), '%Y-%m')
          AND p.deal_flag=1
    </select>

    <select id="selectSysProjectByNumber" resultType="com.ruoyi.system.domain.SysProject">
        <include refid="selectProjectVo"/>
        <where>
            project_number = #{projectNumber}
        </where>
    </select>

    <select id="selectSysProjectListOn" resultType="com.ruoyi.system.domain.SysProject">
        <include refid="selectProjectVo"/>
        <where>
            deal_flag=1 and shipping_time is null and del_flag=0
        </where>
    </select>


    <delete id="deleteSysProjectById" parameterType="Long">
        update sys_project set del_flag=1 where project_id = #{projectId}
    </delete>
	
    <delete id="deleteSysProjectByIds" parameterType="String">
        update sys_project set del_flag=1 where project_id in
        <foreach item="projectId" collection="array" open="(" separator="," close=")">
            #{projectId}
        </foreach>
    </delete>
    
</mapper>