<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改刀具')" />
	<th:block th:include="include :: select2-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-tool-edit" th:object="${tool}">
            <input id="toolId" name="toolId" th:field="*{toolId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">刀具类型：</label>
				<div class="col-sm-8">
					<select name="toolType" class="form-control" th:with="type=${@dict.getType('sys_tool_type')}">
						<option th:each="toolType : ${type}" th:text="${toolType.dictLabel}" th:value="${toolType.dictValue}" th:field="*{toolType}" ></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">规格：</label>
				<div class="col-sm-8">
					<input id="toolSpecifications" name="toolSpecifications" th:field="*{toolSpecifications}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">数量：</label>
				<div class="col-sm-8">
					<input id="quantity" name="quantity" th:field="*{quantity}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">价格：</label>
				<div class="col-sm-8">
					<input id="toolPrice" name="toolPrice" th:field="*{toolPrice}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">材质：</label>
				<div class="col-sm-8">
					<select name="toolMaterial" class="form-control" th:with="materials=${@dict.getType('sys_tool_material')}">
						<option th:each="material : ${materials}" th:text="${material.dictLabel}" th:value="${material.dictValue}" th:field="*{toolMaterial}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">制造商：</label>
				<div class="col-sm-8">
					<select name="manufacturer" class="form-control" th:with="manufacturers=${@supplier.getSupplier(0)}">
						<option value="">所有</option>
						<option th:each="manufacturer : ${manufacturers}" th:text="${manufacturer.supplierName}" th:value="${manufacturer.supplierId}" th:field="*{manufacturer}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">刀具状态：</label>
				<div class="col-sm-8">
					<select name="status" class="form-control" th:with="type=${@dict.getType('sys_tool_status')}" disabled>
						<option th:each="status : ${type}" th:text="${status.dictLabel}" th:value="${status.dictValue}" th:field="*{status}" ></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
	<th:block th:include="include::footer" />
	<th:block th:include="include :: select2-js" />
    <script type="text/javascript">
		var prefix = ctx + "material/tool";
		jQuery.validator.addMethod("isMoney", function(value, element) {
			// return this.optional(element) || /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/.test(value);  //金额,不允许货币格式
			//允许, 货币格式
			return this.optional(element) || /^([1-9]{1}[0-9]{0,3}(\,[0-9]{3,4})*(\.[0-9]{0,2})?|[1-9]{1}\d*(\.[0-9]{0,2})?|0(\.[0-9]{0,2})?|(\.[0-9]{1,2})?)$/.test(value);
		}, "请输入正确的金额格式");
		$("#form-tool-edit").validate({
			rules:{
				quantity:{
					digits:true
				},
				toolPrice:{
					isMoney: true
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-tool-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
