<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>企业管理系统</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
	<link href="../static/css/chart/custom.min.css" th:href="@{/css/chart/custom.min.css}" rel="stylesheet">
	<link href='../static/js/calendar/core/main.css' th:href="@{/js/calendar/core/main.css}" rel='stylesheet' />
	<link href='../static/js/calendar/daygrid/main.css' th:href="@{/js/calendar/daygrid/main.css}" rel='stylesheet' />
	<link href='../static/js/calendar/timegrid/main.css' th:href="@{/js/calendar/timegrid/main.css}" rel='stylesheet' />
	<link href='../static/js/calendar/list/main.css' th:href="@{/js/calendar/list/main.css}" rel='stylesheet' />
	<style type="text/css">
		#weather-view-he {
			margin:0 auto !important;
		}
	</style>

</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-8 col-sm-8 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h2>日程安排</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
								</li>
								<li><a class="close-link"><i class="fa fa-close"></i></a>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<div id='calendar'></div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h2>天气预报</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
								</li>
								<li><a class="close-link"><i class="fa fa-close"></i></a>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content" style="text-align:center;height:280px;">
							<!-- weather_dingwei -->
							<div id="weather-view-he"></div>
							<script>
								WIDGET = {ID: '1XzyDt2nS2'};
							</script>
							<script type="text/javascript" src="https://apip.weatherdt.com/view/static/js/r.js?v=1111"></script>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h3>销售目标</h3>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Settings 1</a>
										</li>
										<li><a href="#">Settings 2</a>
										</li>
									</ul>
								</li>
								<li><a class="close-link"><i class="fa fa-close"></i></a>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<div id="echart_gauge" style="height:360px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
	<!-- calendar modal -->
	<div id="CalenderModalNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">新日历条目</h4>
				</div>
				<div class="modal-body">
					<div id="testmodal" style="padding: 5px 20px;">
						<form id="antoform" class="form-horizontal calender" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label">主题</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="title" name="title">
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default antoclose" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary antosubmit">保存</button>
				</div>
			</div>
		</div>
	</div>
	<div id="CalenderModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel2">编辑日历条目</h4>
				</div>
				<div class="modal-body">
					<div id="testmodal2" style="padding: 5px 20px;">
						<form id="antoform2" class="form-horizontal calender" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label">主题</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="title2" name="title2">
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger antodelete">删除</button>
					<button type="button" class="btn btn-default antoclose2" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary antosubmit2">保存修改</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="deleteCalender" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">删除信息</h4>
				</div>
				<div class="modal-body"><label class="col-sm-4 control-label">确认删除吗？</label></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary antodeleteConfirm">删除</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<div id="fc_create" data-toggle="modal" data-target="#CalenderModalNew"></div>
	<div id="fc_edit" data-toggle="modal" data-target="#CalenderModalEdit"></div>
	<!-- /calendar modal -->
    <div class="wrapper wrapper-content">
        <div class="row">
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
	<!-- NProgress -->
	<script th:src="@{/js/chart/nprogress.js}"></script>
	<script th:src="@{/js/chart/echarts.min.js}"></script>
	<script th:src="@{/js/chart/world.js}"></script>
	<script th:src="@{/js/chart/custom.js}"></script>

	<script th:src='@{/js/calendar/core/main.js}'></script>
	<script th:src='@{/js/calendar/interaction/main.js}'></script>
	<script th:src='@{/js/calendar/daygrid/main.js}'></script>
	<script th:src='@{/js/calendar/timegrid/main.js}'></script>
	<script th:src='@{/js/calendar/list/main.js}'></script>
	<script th:src='@{/js/calendar/moment/main.js}'></script>
    <script type="text/javascript">

	    $('#pay-qrcode').click(function(){
	        var html=$(this).html();
	        parent.layer.open({
	            title: false,
	            type: 1,
	            closeBtn:false,
	            shadeClose:true,
	            area: ['600px', 'auto'],
	            content: html
	        });
	    });

    </script>
</body>
</html>
