<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改项目')" />
	<th:block th:include="include :: select2-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content form-content">
        <form class="form-horizontal m" id="form-project-edit" th:object="${project}">
            <input id="projectId" name="projectId" th:field="*{projectId}"  type="hidden">
			<div class="form-group">
				<label class="col-sm-3 control-label">项目名称：</label>
				<div class="col-sm-8">
					<input id="projectName" name="projectName" th:field="*{projectName}" class="form-control" type="text" disabled>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">客户：</label>
				<div class="col-sm-8">
					<select name="customerId" class="form-control" th:with="customers=${@customer.getCustomer(0)}" disabled>
						<option th:each="customer:${customers}" th:value="${customer.customerId}" th:text="${customer.customerName}" th:field="*{customerId}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">项目进度：</label>
				<div class="col-sm-8">
					<select name="projectStatus" class="form-control" th:with="type=${@dict.getType('sys_project_status')}" disabled>
						<option th:each="status : ${type}" th:text="${status.dictLabel}" th:value="${status.dictValue}" th:field="*{projectStatus}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">金额：</label>
				<div class="col-sm-8">
					<input th:field="*{amount}" class="form-control" type="text" disabled>
				</div>
			</div>
<!--			<div class="form-group">-->
<!--				<label class="col-sm-3 control-label">负责人：</label>-->
<!--				<div class="col-sm-8">-->
<!--					<select name="pmUserId" th:with="type=${@user.getUser('104')}" class="form-control">-->
<!--						<option th:each="user : ${type}" th:text="${user.userName}" th:value="${user.userId}" th:field="*{pmUserId}"></option>-->
<!--					</select>-->
<!--				</div>-->
<!--			</div>-->
			<div class="form-group">
				<label class="col-sm-3 control-label">接单状态：</label>
				<div class="col-sm-8">
					<select name="dealFlag" class="form-control" th:with="type=${@dict.getType('sys_deal_status')}" disabled>
						<option th:each="status : ${type}" th:text="${status.dictLabel}" th:value="${status.dictValue}" th:field="*{dealFlag}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">交期：</label>
				<div class="col-sm-8">
					<div class="input-group date"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<input id="deliveryDate" name="deliveryDate" type="text" class="time-input form-control" th:field="*{deliveryDate}" disabled>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">备注信息：</label>
				<div class="col-sm-8">
					<textarea name="remark" autocomplete="off" maxlength="500" class="form-control" rows="3" disabled>[[*{remark}]]</textarea>
				</div>
			</div>
			<hr />
			<div class="form-group">
				<label class="col-sm-3 control-label" for="factoryApproved">审核意见：</label>
				<div class="col-sm-8">
					<select name="p_B_factoryApproved" id="factoryApproved" class="form-control m-b">
						<option value="true">可以加工</option>
						<option value="false">无法加工</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">建议报价：</label>
				<div class="col-sm-8">
					<input name="suggestQuotation" th:field="*{suggestQuotation}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">最低报价：</label>
				<div class="col-sm-8">
					<input name="lowestQuotation" th:field="*{lowestQuotation}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">审核备注：</label>
				<div class="col-sm-8">
					<textarea name="p_COM_productionComment" class="form-control"></textarea>
				</div>
			</div>
		</form>
    </div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: select2-js" />
    <script type="text/javascript">
		var prefix = ctx + "process/orderReceive";
		$("#form-project-edit").validate({
			rules:{
				projectName:{
					required:true,
				},
				customerId:{
					required:true,
				},
			},
			focusCleanup: true
		});

		function submitHandler() {
			if ($.validate.form()) {
				var taskId = [[${taskId}]];
				$.operate.save(prefix + "/complete/" + taskId, $('#form-project-edit').serialize());
			}
		}

	</script>
</body>
</html>
