<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('图档管理')" />
    <th:block th:include="include :: layout-latest-css" />
    <th:block th:include="include :: baiduCSS" />

</head>
<body class="gray-bg">
<link rel="stylesheet" type="text/css" th:href="@{/baidu/css/cover.css}">
<link rel="stylesheet" node-type="theme-link" type="text/css" th:href="@{/baidu/css/diskSystem-theme.css}">
<div class="XOrErua" node-type="XOrErua">
    <div class="WdL9EjB" node-type="WdL9EjB">
        <div class="ble8cy" node-type="ble8cy">
            <div class="puiK4O" node-type="puiK4O">
                <div class="frame-aside" id="layoutAside">
                    <div class="ONP5hne" node-type="ONP5hne">
                        <div class="oMBDxQ5" node-type="oMBDxQ5">
                            <div node-type="dyqLjbp" class="module-aside DtJtsC">
                                <div class="KHbQCub"></div>
                                <ul class="fOHAbxb">
                                    <li node-type="ljdJ5Q" data-key="list" class="dodAkP bHzsaPb">
                                        <a node-type="yud4lw" path="/" class="pydeZk ztxwyDRe" hidefocus="true"
                                           href="javascript:void(0);">
                                            <span class="text">
                                            <span node-type="vaLEWj" class="icon icon-disk"></span>
                                            <span node-type="izyL8Qp">全部文件</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li node-type="ljdJ5Q" data-key="pic" class="dodAkP">
                                        <a node-type="yud4lw" class="ztxwyDRe" hidefocus="true"
                                           href="https://pan.baidu.com/disk/timeline">
                                            <span class="text">
                                            <span node-type="izyL8Qp">图片</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li node-type="ljdJ5Q" data-key="doc" class="dodAkP">
                                        <a node-type="yud4lw" cat="4" class="ztxwyDRe" hidefocus="true"
                                           href="javascript:void(0);">
                                            <span class="text">
                                            <span node-type="izyL8Qp">文档</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li node-type="ljdJ5Q" data-key="video" class="dodAkP">
                                        <a node-type="yud4lw" cat="1" class="ztxwyDRe" hidefocus="true"
                                           href="javascript:void(0);">
<span class="text">
<span node-type="izyL8Qp">视频</span>
</span>
                                        </a>
                                    </li>
                                    <li node-type="ljdJ5Q" data-key="mbt" class="dodAkP">
                                        <a node-type="yud4lw" cat="7" class="ztxwyDRe" hidefocus="true"
                                           href="javascript:void(0);">
<span class="text">
<span node-type="izyL8Qp">种子</span>
</span>
                                        </a>
                                    </li>
                                    <li node-type="ljdJ5Q" data-key="music" class="dodAkP">
                                        <a node-type="yud4lw" cat="2" class="ztxwyDRe" hidefocus="true"
                                           href="javascript:void(0);">
<span class="text">
<span node-type="izyL8Qp">音乐</span>
</span>
                                        </a>
                                    </li>
                                    <li node-type="ljdJ5Q" data-key="other" class="dodAkP">
                                        <a node-type="yud4lw" cat="6" class="ztxwyDRe" hidefocus="true"
                                           href="javascript:void(0);">
<span class="text">
<span node-type="izyL8Qp">其它</span>
</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="jpcbLWz1" style="display: block;"></div>
                                <ul class="FvBGOQ" style="white-space: nowrap; position: relative;">
                                    <div class="button-box-mark"
                                         style="display:inline-block;*display:inline;*zoom:1;width:1px;height:1px;line-height:0;"></div>
                                    <div class="sipjL6BL"
                                         style="position:absolute;top:0;line-height:normal;padding-top:0px;">
                                        <div style="display:none;width:100%;height:100%;z-index:30;position:absolute;top:0;left:0;"></div>
                                        <a class="g-button" data-button-id="b1" data-button-index="8"
                                           href="javascript:;" title="我的分享"><span class="g-button-right"><em
                                                class="icon icon-my-share" title="我的分享"></em><span class="text"
                                                                                                   style="width: auto;">我的分享</span></span></a><span
                                            class="g-dropdown-button tools-more" style="display: none;"><a
                                            class="g-button" data-button-id="b3" data-button-index=""
                                            href="javascript:;" title="更多"><span class="g-button-right"><em
                                            class="icon icon-more" title="更多"></em><span class="text"
                                                                                         style="width: auto;">更多</span></span></a><span
                                            class="menu" style="width: 112px;"><a style="display:none;"
                                                                                  data-menu-id="b-menu0"
                                                                                  class="g-button-menu g-menu-hasIcon"
                                                                                  href="javascript:;"><em
                                            class="icon icon-my-share"></em>我的分享</a></span></span></div>
                                </ul>
                                <div class="jpcbLWz1" style="display: block;"></div>
                                <ul class="JKEQDvb" style="white-space: nowrap; position: relative;">
                                    <div class="button-box-mark"
                                         style="display:inline-block;*display:inline;*zoom:1;width:1px;height:1px;line-height:0;"></div>
                                    <div class="gmdVJd"
                                         style="position:absolute;top:0;line-height:normal;padding-top:0px;">
                                        <div style="display:none;width:100%;height:100%;z-index:30;position:absolute;top:0;left:0;"></div>
                                        <a class="g-button" data-button-id="b5" data-button-index="9"
                                           href="javascript:;" title="回收站"><span class="g-button-right"><em
                                                class="icon icon-delete" title="回收站"></em><span class="text"
                                                                                                style="width: auto;">回收站</span></span></a><span
                                            class="g-dropdown-button tools-more" style="display: none;"><a
                                            class="g-button" data-button-id="b7" data-button-index=""
                                            href="javascript:;" title="更多"><span class="g-button-right"><em
                                            class="icon icon-more" title="更多"></em><span class="text"
                                                                                         style="width: auto;">更多</span></span></a><span
                                            class="menu" style="width: 112px;"><a style="display:none;"
                                                                                  data-menu-id="b-menu0"
                                                                                  class="g-button-menu g-menu-hasIcon"
                                                                                  href="javascript:;"><em
                                            class="icon icon-delete"></em>回收站</a></span></span></div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="0cMes44" node-type="0cMes44">
            <div class="c4OwrPd" node-type="c4OwrPd">
                <div class="frame-main" id="layoutMain" style="display: block;">
                    <div class="9RlCNSO" node-type="9RlCNSO">
                        <div class="RwHJ3MSu" node-type="RwHJ3MSu">
                            <div class="DxdbeCb g-clearfix">
                                <div class="uuuLp2v"></div>
                                <div class="uyiLGWX">
                                    <div class="nydr63 nvuLpp4">
                                        <a style="display: none;" data-type="list" class="ubxhLGYm"
                                           href="javascript:void(0)">
                                            <span class="icon icon-list"></span>
                                        </a>
                                        <a data-type="grid" class="eusnL6Or" href="javascript:void(0)">
                                            <span class="icon icon-grid"></span>
                                        </a>
                                    </div>
                                    <div class="EzLavy">
                                        <div node-type="mrvLW3w" class="andn0W" href="javascript:void(0)">
                                            <span class="icon icon-order"></span>
                                        </div>
                                        <div node-type="sDwvAgb" class="sDwvAgb">
<span data-key="name" class="vAFAFF">
<em class="icon icon-sort-select"></em>
文件名</span>
                                            <span data-key="size" class="vAFAFF">
<em class="icon icon-sort-select"></em>
大小</span>
                                            <span data-key="time" class="vAFAFF ugcOHtb">
<em class="icon icon-sort-select"></em>
修改日期</span>
                                        </div>
                                    </div>
                                    <div class="OFaPaO" style="width: 18%;">
                                        <label class="ppnzdvjM">
                                            <p>
                                                <span></span>按文档全局检索</p>
                                            <input type="checkbox">
                                        </label>
                                        <div class="oclLlDK" node-type="sol1zp0">
                                            <form node-type="wnmLRjo" class="rodJJ7 nqlj1aPp"
                                                  action="javascript: void(0)" method="get">
                                                <input node-type="almaLkra alpjdwPe" data-key="SEARCH_QUERY"
                                                       autocomplete="off" class="klzvyY8g" name="q" value=""
                                                       spellchecking="off" type="text">
                                                <span node-type="bjdQ5l" class="arsyZng icon icon-search-del"
                                                      style="display: none;"></span>
                                                <span node-type="alpjdwPe" data-key="SEARCH_BUTTON" class="gHHsaL">
<span class="icon icon-search"></span>
</span>
                                                <span node-type="hxvdL9l8" class="bclyoDz" style="display: block;">搜索您的文件</span>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="oyLWOp" style="white-space: nowrap; position: relative;">
                                        <div class="button-box-mark"
                                             style="display:inline-block;*display:inline;*zoom:1;width:1px;height:1px;line-height:0;"></div>
                                        <div class="tcuLAu"
                                             style="position: absolute; top: 0px; line-height: normal; padding-top: 11px; padding-left: 0px; width: auto; height: 40px;">
                                            <div style="display:none;width:100%;height:100%;z-index:30;position:absolute;top:0;left:0;"></div>
                                            <span id="uploadButton" class="g-dropdown-button">
                                                <a class="g-button g-button-blue blue-upload upload-wrapper" data-button-id="b31" data-button-index="1" href="javascript:;"
                                                    title="上传">
                                                    <span class="g-button-right">
                                                        <em class="icon icon-upload" title="上传"></em>
                                                        <span class="text" style="width: 40px;">上传</span>
                                                    </span>
                                                    <form class="h5-uploader-form" action="javascript:void(0);">
                                                        <input title="点击选择文件" id="h5Input0" multiple="" accept="*/*" type="file" name="html5uploader"
                                                        style="position:absolute;opacity:0;top:0;left:0;width:100%;height:100%;cursor:pointer;">
                                                    </form>
                                                </a>
                                                <span class="menu" style="width: 84px;">
                                                <a data-menu-id="b-menu0" class="g-button-menu  upload-wrapper" href="javascript:;">上传文件
                                                    <form class="h5-uploader-form" action="javascript:void(0);">
                                                        <input title="点击选择文件" id="h5Input1" multiple="" accept="*/*" type="file" name="html5uploader" style="position:absolute;opacity:0;top:0;left:0;width:100%;height:100%;cursor:pointer;">
                                                    </form>
                                                </a>
                                                <a data-menu-id="b-menu1" class="g-button-menu  upload-wrapper" href="javascript:;">上传文件夹
                                                    <form class="h5-uploader-form" action="javascript:void(0);">
                                                        <input title="点击选择文件夹" id="h5Input2" multiple="" webkitdirectory="" accept="*/*" type="file" name="html5uploader"
                                                    style="position:absolute;opacity:0;top:0;left:0;width:100%;height:100%;cursor:pointer;">
                                                    </form>
                                                </a>
                                            </span>
                                            </span>
                                            <a
                                                class="g-button" data-button-id="b33" data-button-index="2"
                                                href="javascript:;" title="新建文件夹" style="display: inline-block;"><span
                                                class="g-button-right"><em class="icon icon-newfolder"
                                                                           title="新建文件夹"></em><span class="text"
                                                                                                    style="width: auto;">新建文件夹</span></span></a><a
                                                class="g-button" data-button-id="b35" data-button-index="3"
                                                href="javascript:;" title="离线下载" style="display: inline-block;"><span
                                                class="g-button-right"><em class="icon icon-download" title="离线下载"></em><span
                                                class="text" style="width: auto;">离线下载</span></span></a><span
                                                class="g-dropdown-button last-button" style="display: inline-block;"><a
                                                class="g-button" data-button-id="b37" data-button-index="4"
                                                href="javascript:;" title="我的设备"><span class="g-button-right"><em
                                                class="icon icon-device" title="我的设备"></em><span class="text"
                                                                                                 style="width: auto;">我的设备</span></span></a><span
                                                class="menu" style="width: 96px;"><a data-menu-id="b-menu0"
                                                                                     class="g-button-menu "
                                                                                     href="javascript:;">推送任务列表</a><a
                                                data-menu-id="b-menu1" class="g-button-menu "
                                                href="javascript:;">添加设备</a></span></span><span
                                                class="g-dropdown-button tools-more" style="display: none;"><a
                                                class="g-button" data-button-id="b39" data-button-index=""
                                                href="javascript:;" title="更多"><span class="g-button-right"><em
                                                class="icon icon-more" title="更多"></em><span class="text"
                                                                                             style="width: auto;">更多</span></span></a><span
                                                class="menu" style="width: 70px;"><a style="display:none;"
                                                                                     data-menu-id="b-menu0"
                                                                                     class="g-button-menu g-menu-hasIcon"
                                                                                     href="javascript:;"><em
                                                class="icon icon-upload"></em>上传</a><a style="display:none;"
                                                                                       data-menu-id="b-menu1"
                                                                                       class="g-button-menu g-menu-hasIcon"
                                                                                       href="javascript:;"><em
                                                class="icon icon-newfolder"></em>新建文件夹</a><a style="display:none;"
                                                                                             data-menu-id="b-menu2"
                                                                                             class="g-button-menu g-menu-hasIcon"
                                                                                             href="javascript:;"><em
                                                class="icon icon-download"></em>离线下载</a><a style="display:none;"
                                                                                           data-menu-id="b-menu3"
                                                                                           class="g-button-menu g-menu-hasIcon"
                                                                                           href="javascript:;"><em
                                                class="icon icon-device"></em>我的设备</a></span></span>
                                        </div>
                                        <div class="button-box-mark"
                                             style="display:inline-block;*display:inline;*zoom:1;width:1px;height:1px;line-height:0;"></div>
                                        <div class="QDDOQB"
                                             style="position: absolute; top: 0px; line-height: normal; padding-top: 11px; display: none; padding-left: 11px; width: 1186px;">
                                            <div style="display:none;width:100%;height:100%;z-index:30;position:absolute;top:0;left:0;"></div>
                                            <a class="g-button" data-button-id="b41" data-button-index="1"
                                               href="javascript:;" title="分享"><span class="g-button-right"><em
                                                    class="icon icon-share" title="分享"></em><span class="text"
                                                                                                  style="width: auto;">分享</span></span></a><a
                                                class="g-button g-button-hastips" data-button-id="b43"
                                                data-button-index="1" href="javascript:;" title="邀人一起管理此文件夹"><span
                                                class="g-button-right"><em class="icon icon-sharedir"
                                                                           title=""></em><span class="text"
                                                                                               style="width: auto;">共享</span></span><span
                                                class="g-button-tips">邀人一起管理此文件夹</span></a><a class="g-button"
                                                                                              data-button-id="b45"
                                                                                              data-button-index="1"
                                                                                              href="javascript:;"
                                                                                              title="取消共享"><span
                                                class="g-button-right"><em class="icon icon-sharedir" title="取消共享"></em><span
                                                class="text" style="width: auto;">取消共享</span></span></a><a
                                                class="g-button" data-button-id="b47" data-button-index="1"
                                                href="javascript:;" title="退出共享"><span class="g-button-right"><em
                                                class="icon icon-sharedir" title="退出共享"></em><span class="text"
                                                                                                   style="width: auto;">退出共享</span></span></a><a
                                                class="g-button" data-button-id="b49" data-button-index="2"
                                                href="javascript:;" title="音乐播放"><span class="g-button-right"><em
                                                class="icon icon-play" title="音乐播放"></em><span class="text"
                                                                                               style="width: auto;">音乐播放</span></span></a><a
                                                class="g-button" data-button-id="b51" data-button-index="3"
                                                href="javascript:;" title="下载"><span class="g-button-right"><em
                                                class="icon icon-download" title="下载"></em><span class="text"
                                                                                                 style="width: auto;">下载</span></span></a><a
                                                class="g-button" data-button-id="b53" data-button-index="5"
                                                href="javascript:;" title="删除"><span class="g-button-right"><em
                                                class="icon icon-delete" title="删除"></em><span class="text"
                                                                                               style="width: auto;">删除</span></span></a><a
                                                class="g-button" data-button-id="b55" data-button-index="8"
                                                href="javascript:;" title="云冲印"><span class="g-button-right"><em
                                                class="icon icon-print" title="云冲印"></em><span class="text"
                                                                                               style="width: auto;">云冲印</span></span></a><a
                                                class="g-button" data-button-id="b57" data-button-index="9"
                                                href="javascript:;" title="照片电影" style="display: none;"><span
                                                class="g-button-right"><em class="icon icon-director" title="照片电影"></em><span
                                                class="text" style="width: auto;">照片电影</span></span></a><a
                                                class="g-button" data-button-id="b59" data-button-index="9"
                                                href="javascript:;" title="历史版本" style="display: none;"><span
                                                class="g-button-right"><em class="icon icon-history"
                                                                           title="历史版本"></em><span class="text"
                                                                                                   style="width: auto;">历史版本</span></span></a><a
                                                class="g-button" data-button-id="b61" data-button-index="13"
                                                href="javascript:;" title="美化" style="display: none;"><span
                                                class="g-button-right"><em class="icon icon-beauty"
                                                                           title="美化"></em><span class="text"
                                                                                                 style="width: auto;">美化</span></span></a><a
                                                class="g-button" data-button-id="b63" data-button-index="101"
                                                href="javascript:;" title="重命名" style="display: none;"><span
                                                class="g-button-right"><span class="text"
                                                                             style="width: auto;">重命名</span></span></a><a
                                                class="g-button" data-button-id="b65" data-button-index="102"
                                                href="javascript:;" title="复制到" style="display: none;"><span
                                                class="g-button-right"><span class="text"
                                                                             style="width: auto;">复制到</span></span></a><a
                                                class="g-button" data-button-id="b67" data-button-index="103"
                                                href="javascript:;" title="移动到" style="display: none;"><span
                                                class="g-button-right"><span class="text"
                                                                             style="width: auto;">移动到</span></span></a><a
                                                class="g-button" data-button-id="b69" data-button-index="103"
                                                href="javascript:;" title="详细信息" style="display: none;"><span
                                                class="g-button-right"><em class="icon icon-share"
                                                                           title="详细信息"></em><span class="text"
                                                                                                   style="width: auto;">详细信息</span></span></a><span
                                                class="g-dropdown-button" style="display: none;"><a class="g-button"
                                                                                                    data-button-id="b71"
                                                                                                    data-button-index="104"
                                                                                                    href="javascript:;"
                                                                                                    title="推送到云设备"><span
                                                class="g-button-right"><span class="text"
                                                                             style="width: auto;">推送到云设备</span></span></a><span
                                                class="menu" style="width: 102px;"></span></span><span
                                                class="g-dropdown-button tools-more" style="display: inline-block;"><a
                                                class="g-button" data-button-id="b73" data-button-index=""
                                                href="javascript:;" title="更多"><span class="g-button-right"><em
                                                class="icon icon-more" title="更多"></em><span class="text"
                                                                                             style="width: auto;">更多</span></span></a><span
                                                class="menu" style="width: 96px;"><a style="display:none;"
                                                                                     data-menu-id="b-menu0"
                                                                                     class="g-button-menu g-menu-hasIcon g-disabled"
                                                                                     href="javascript:;"><em
                                                class="icon icon-share"></em>分享</a><a style="display:none;"
                                                                                      data-menu-id="b-menu1"
                                                                                      class="g-button-menu g-menu-hasIcon g-disabled"
                                                                                      href="javascript:;"><em
                                                class="icon icon-sharedir"></em>共享</a><a style="display:none;"
                                                                                         data-menu-id="b-menu2"
                                                                                         class="g-button-menu g-menu-hasIcon g-disabled"
                                                                                         href="javascript:;"><em
                                                class="icon icon-sharedir"></em>取消共享</a><a style="display:none;"
                                                                                           data-menu-id="b-menu3"
                                                                                           class="g-button-menu g-menu-hasIcon g-disabled"
                                                                                           href="javascript:;"><em
                                                class="icon icon-sharedir"></em>退出共享</a><a style="display:none;"
                                                                                           data-menu-id="b-menu4"
                                                                                           class="g-button-menu g-menu-hasIcon g-disabled"
                                                                                           href="javascript:;"><em
                                                class="icon icon-play"></em>音乐播放</a><a style="display:none;"
                                                                                       data-menu-id="b-menu5"
                                                                                       class="g-button-menu g-menu-hasIcon g-disabled"
                                                                                       href="javascript:;"><em
                                                class="icon icon-download"></em>下载</a><a style="display:none;"
                                                                                         data-menu-id="b-menu6"
                                                                                         class="g-button-menu g-menu-hasIcon g-disabled"
                                                                                         href="javascript:;"><em
                                                class="icon icon-delete"></em>删除</a><a style="display:none;"
                                                                                       data-menu-id="b-menu7"
                                                                                       class="g-button-menu g-menu-hasIcon g-disabled"
                                                                                       href="javascript:;"><em
                                                class="icon icon-print"></em>云冲印</a><a style="display: block;"
                                                                                       data-menu-id="b-menu8"
                                                                                       class="g-button-menu g-menu-hasIcon g-disabled"
                                                                                       href="javascript:;"><em
                                                class="icon icon-director"></em>照片电影</a><a style="display: block;"
                                                                                           data-menu-id="b-menu9"
                                                                                           class="g-button-menu g-menu-hasIcon g-disabled"
                                                                                           href="javascript:;"><em
                                                class="icon icon-history"></em>历史版本</a><a style="display: block;"
                                                                                          data-menu-id="b-menu10"
                                                                                          class="g-button-menu g-menu-hasIcon g-disabled"
                                                                                          href="javascript:;"><em
                                                class="icon icon-beauty"></em>美化</a><a style="display: block;"
                                                                                       data-menu-id="b-menu11"
                                                                                       class="g-button-menu  g-disabled"
                                                                                       href="javascript:;">重命名</a><a
                                                style="display: block;" data-menu-id="b-menu12"
                                                class="g-button-menu  g-disabled" href="javascript:;">复制到</a><a
                                                style="display: block;" data-menu-id="b-menu13"
                                                class="g-button-menu  g-disabled" href="javascript:;">移动到</a><a
                                                style="display: block;" data-menu-id="b-menu14"
                                                class="g-button-menu g-menu-hasIcon g-disabled" href="javascript:;"><em
                                                class="icon icon-share"></em>详细信息</a><span style="display: block;"
                                                                                           data-menu-id="b-menu15"
                                                                                           class="g-button-menu g-menu-hasIcon g-disabled"><span
                                                class="g-dropdown-button g-dropdown-button-second" menulevel="2"><a
                                                class="g-button" data-button-id="b75" data-button-index="104"
                                                href="javascript:;" title="推送到云设备"><span class="g-button-right"><span
                                                class="text" style="width: auto;">推送到云设备</span></span></a><span
                                                class="menu"></span></span></span></span></span></div>
                                    </div>
                                </div>
                                <div class="bisp1zmG"></div>
                                <div class="rjLRBW">
                                </div>
                                <div node-type="EQBfLM" class="EQBfLM g-clearfix">
                                    <a href="https://pan.baidu.com/disk/timeline" class="AbMfvg">时光轴</a>
                                    <a href="javascript:void(0);" class="AbMfvg selected">最近上传</a>
                                </div>
                            </div>
                            <div class="YfcczA" node-type="YfcczA">
                                <!--[if IE]>
                                <iframe id="historyIFrameEmulator" style="display: none"></iframe><![endif]-->
                                <div node-type="KPDwCE" class="KPDwCE" style="height: 934px;">
                                    <div node-type="JDeHdxb" class="JDeHdxb">
                                        <span class="EgMMec">全部文件</span>
                                        <ul id="FuIxtL" class="FuIxtL" node-type="FuIxtL" style="display: none;">
                                            <li>
                                                <a id="backLast" href="javascript:;">返回上一级</a>
                                                <span class="EKIHPEb">|</span>
                                            </li>
                                            <li id = "linkfolder" node-type="tbAudfb">

                                            </li>
                                        </ul>
                                    </div>
                                    <div class="QxJxtg">
                                        <div class="xGLMIab">
                                            <ul class="QAfdwP tvPMvPb" node-type="tvPMvPb">
                                                <li data-key="name" class="fufHyA yfHIsP" style="width:60%;">
                                                    <div node-type="fydGNC" class="Qxyfvg fydGNC"><span
                                                            class="zbyDdwb"></span><span class="MIMvNNb">全选</span><span
                                                            class="icon NbKJexb icon-checksmall"></span></div>
                                                    <span class="text">文件名</span><span class="xEuDywb"></span><span
                                                        class="icon aHEytd icon-up"></span><span
                                                        class="icon sFxCFbb icon-downtitle"></span></li>
                                                <li data-key="size" class="fufHyA" style="width:16%;"><span
                                                        class="text">大小</span><span class="xEuDywb"></span><span
                                                        class="icon aHEytd icon-up"></span><span
                                                        class="icon sFxCFbb icon-downtitle"></span></li>
                                                <li data-key="time" class="fufHyA gObdAzb MCGAxG" style="width:23%;">
                                                    <span class="text">修改日期</span><span class="xEuDywb"></span><span
                                                        class="icon aHEytd icon-up"></span><span
                                                        class="icon sFxCFbb icon-downtitle"></span></li>
                                            </ul>
                                            <ul class="vwCPvP tvPMvPb" node-type="tvPMvPb" style="display: none;">
                                                <li class="fufHyA yfHIsP">
                                                    <div node-type="fydGNC" class="Qxyfvg fydGNC"><span
                                                            class="zbyDdwb"></span><span class="MIMvNNb">全选</span><span
                                                            class="icon NbKJexb icon-checksmall"></span></div>
                                                </li>
                                            </ul>
                                            <div class="FcQMwt global-clearfix"><span class="MdLxwM"></span>
                                                <div class="KKtwaH"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="zJMtAEb" style="">
                                        <div node-type="NHcGw" class="NHcGw" style="overflow-y: auto; height: 876px;">
                                            <div class="vdAfKMb" style="height: auto;">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="fyQgAEb" style="display: none;">
                                        <div node-type="BNfIyPb" class="BNfIyPb" style="height: 876px;">
                                            <div class="JKvHJMb"></div>
                                        </div>
                                    </div>
                                    <div class="wPQwLCb" style="visibility: hidden;">
                                        <div class="gQNsDv">
                                            <svg class="spinner" width="26px" height="26px" viewBox="0 0 66 66"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round"
                                                        cx="33" cy="33" r="30" style="stroke:#09aaff"></circle>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="ExFGye">
                                        <div class="vcbrLkGO"><input node-type="csztLl4K" class="GadHyA" type="text"
                                                                     value=""><span node-type="giqzLkrO" class="fvdQMx"><em
                                                class="icon qeiLbaQ"></em><em class="icon tudro3"></em></span><span
                                                node-type="eqfdwPZ" class="gtLWGp"><em class="icon qeiLbaQ"></em><em
                                                class="icon waabLpR4"></em></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mVLydx" node-type="mVLydx">
            <div class="frame-main" id="layoutServiceHolder" style="display: none;"></div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: layout-latest-js" />
<th:block th:include="include :: rightButton" />
<th:block th:include="include :: huawei" />
<div class="dialog dialog-web-uploader   dialog-blue h5-uploader" id="web-uploader"
     style="width: 633px; top: auto; bottom: 0px; left: auto; right: 30px; display: none; visibility: visible; z-index: 42;">
    <div class="dialog-header" style="display: block;"><h3><span class="dialog-header-title"><em class="select-text">上传完成</em></span>
    </h3>
        <div class="dialog-control"><span class="dialog-icon dialog-close icon icon-close"><span class="sicon">×</span></span><span
                class="dialog-icon dialog-min icon icon-minimize"><span class="sicon">-</span></span></div>
    </div>
    <div class="dialog-min-header" style="display: none;">
        <div class="header-progress" style="width: 0%; display: none;"></div>
        <h3><span class="dialog-header-title"><em class="select-text">上传完成</em></span></h3>
        <div class="dialog-control"><span class="dialog-icon dialog-close icon icon-close"><span class="sicon">×</span></span><span
                class="dialog-icon dialog-back icon icon-maximizing"><span class="sicon">□</span></span></div>
    </div>
    <div class="dialog-body" style="display: block;">
        <div class="uploader-list-wrapper">
            <div class="uploader-list-header">
                <div class="file-name">文件(夹)名</div>
                <div class="file-size">大小</div>
                <div class="file-path">上传目录</div>
                <div class="file-status">状态</div>
                <div class="file-operate">操作</div>
            </div>
            <div class="uploader-list">
                <ul class="listContainer" id="uploaderList">

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="dialog dialog-confirm   dialog-gray" id="confirm" style="width: 460px; top: 497.5px; bottom: auto; left: 815px; right: auto; display: block; visibility: visible; z-index: 52;">
    <div class="dialog-header dialog-drag">
        <h3>
            <span class="dialog-header-title">
                <em class="select-text">确认删除</em>
            </span>
        </h3>
        <div class="dialog-control">
            <span class="dialog-icon dialog-close icon icon-close">
                <span class="sicon">×</span>
            </span>
        </div>
    </div>
    <div class="dialog-body">
        <div style="text-align:center;padding:40px 22px 22px 22px;">确认要把所选文件放入回收站吗？</div>
    </div>
    <div class="dialog-footer g-clearfix">
        <a class="g-button g-button-blue-large" data-button-id="b77" data-button-index="" href="javascript:;" title="确定" style="padding-left: 50px;">
            <span class="g-button-right" style="padding-right: 50px;">
                <span class="text" style="width: auto;">确定</span>
            </span>
        </a>
        <a class="g-button g-button-large" data-button-id="b79" data-button-index="" href="javascript:;" title="取消" style="padding-left: 50px;">
            <span class="g-button-right" style="padding-right: 50px;">
                <span class="text" style="width: auto;">取消</span>
            </span>
        </a>
    </div>
</div>
<div class="module-yun-tip" style="top: 74px; left: 50%; margin-left: -41px; opacity: 1; display: none;">
    <div class="tip-inner"><span class="tip-icon icon icon-tips-success"></span><span class="tip-msg">删除成功</span></div>
</div>
</body>
<form id="importForm" enctype="multipart/form-data" class="mt20 mb10" style="display: none;">
    <div class="col-xs-offset-1">
        <input type="file" id="file" name="file"/>
        <div class="mt10 pt5">
            <input type="checkbox" id="updateSupport" name="updateSupport" title="如果登录账户已经存在，更新这条数据。"> 是否更新已经存在的用户数据
            &nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
        </div>
        <font color="red" class="pull-left mt10">
            提示：仅允许导入“xls”或“xlsx”格式文件！
        </font>
    </div>
</form>
</html>