<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('图档管理')" />
    <th:block th:include="include :: layout-latest-css" />
    <th:block th:include="include :: baiduCSS" />

</head>
<body class="gray-bg">
<link rel="stylesheet" type="text/css" th:href="@{/baidu/css/cover.css}">
<link rel="stylesheet" node-type="theme-link" type="text/css" th:href="@{/baidu/css/diskSystem-theme.css}">
<div class="XOrErua" node-type="XOrErua">
    <div class="WdL9EjB" node-type="WdL9EjB">
        <div class="0cMes44" node-type="0cMes44">
            <div class="c4OwrPd" node-type="c4OwrPd">
                <div class="frame-main" id="layoutMain" style="display: block;">
                    <div class="9RlCNSO" node-type="9RlCNSO">
                        <div class="RwHJ3MSu" node-type="RwHJ3MSu">
                            <div class="DxdbeCb g-clearfix">
                                <div class="uuuLp2v"></div>
                                <div class="uyiLGWX">
                                    <div class="nydr63 nvuLpp4">
                                        <a style="display: none;" data-type="list" class="ubxhLGYm" href="javascript:void(0)">
                                            <span class="icon icon-list"></span>
                                        </a>
                                        <a data-type="grid" class="eusnL6Or" href="javascript:void(0)">
                                            <span class="icon icon-grid"></span>
                                        </a>
                                    </div>
                                    <div class="EzLavy">
                                        <div node-type="mrvLW3w" class="andn0W" href="javascript:void(0)">
                                            <span class="icon icon-order"></span>
                                        </div>
                                        <div node-type="sDwvAgb" class="sDwvAgb">
                                            <span data-key="name" class="vAFAFF">
                                                <em class="icon icon-sort-select"></em>
                                            文件名
                                            </span>
                                            <span data-key="size" class="vAFAFF">
                                                <em class="icon icon-sort-select"></em>
                                            大小
                                            </span>
                                            <span data-key="time" class="vAFAFF ugcOHtb">
                                                <em class="icon icon-sort-select"></em>
                                            修改日期
                                            </span>
                                        </div>
                                    </div>
                                    <div class="OFaPaO" style="width: 12%;">
                                        <div class="oclLlDK" node-type="sol1zp0">
                                            <form class="rodJJ7 nqlj1aPp" action="javascript: void(0)" method="get">
                                                <input id="searchCurInput" autocomplete="off" class="klzvyY8g" name="q" value="" spellchecking="off" placeholder="搜索当前文件夹" type="text">
                                                <span id="curSearchDel" class="arsyZng icon icon-search-del" style="display: none;">
                                                </span>
                                                <span id="searchCur" class="gHHsaL">
                                                    <span class="icon icon-search"></span>
                                                </span>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="OFaPaO" style="width: 12%;">
                                        <div class="oclLlDK" node-type="sol1zp0">
                                            <form class="rodJJ7 nqlj1aPp" action="javascript: void(0)" method="get">
                                                <input id="searchAllInput" autocomplete="off" class="klzvyY8g" name="q" value="" spellchecking="off" placeholder="全局搜索" type="text">
                                                <span id="allSearchDel" class="arsyZng icon icon-search-del" style="display: none;">
                                                </span>
                                                <span id="searchAll" class="gHHsaL">
                                                    <span class="icon icon-search"></span>
                                                </span>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="oyLWOp" style="white-space: nowrap; position: relative;">
                                        <div class="button-box-mark" style="display:inline-block;*display:inline;*zoom:1;width:1px;height:1px;line-height:0;"></div>
                                        <div class="tcuLAu" style="position: absolute; top: 0px; line-height: normal; padding-top: 11px; padding-left: 0px; width: auto; height: 40px;">
                                            <div style="display:none;width:100%;height:100%;z-index:30;position:absolute;top:0;left:0;"></div>
                                            <span id="uploadButton" class="g-dropdown-button">
                                                <a class="g-button g-button-blue blue-upload upload-wrapper" data-button-id="b31" data-button-index="1" href="javascript:;"
                                                    title="上传">
                                                    <span class="g-button-right">
                                                        <em class="icon icon-upload" title="上传"></em>
                                                        <span class="text" style="width: 40px;">上传</span>
                                                    </span>
                                                    <form class="h5-uploader-form" action="javascript:void(0);">
                                                        <input title="点击选择文件" id="h5Input0" multiple="" accept="*/*" type="file" name="html5uploader"
                                                        style="position:absolute;opacity:0;top:0;left:0;width:100%;height:100%;cursor:pointer;">
                                                    </form>
                                                </a>
                                                <span class="menu" style="width: 84px;">
                                                    <a data-menu-id="b-menu0" class="g-button-menu  upload-wrapper" href="javascript:;">上传文件
                                                        <form class="h5-uploader-form" action="javascript:void(0);">
                                                            <input title="点击选择文件" id="h5Input1" multiple="" accept="*/*" type="file" name="html5uploader" style="position:absolute;opacity:0;top:0;left:0;width:100%;height:100%;cursor:pointer;">
                                                        </form>
                                                    </a>
                                                    <a data-menu-id="b-menu1" class="g-button-menu  upload-wrapper" href="javascript:;">上传文件夹
                                                        <form class="h5-uploader-form" action="javascript:void(0);">
                                                            <input title="点击选择文件夹" id="h5Input2" multiple="" webkitdirectory="" accept="*/*" type="file" name="html5uploader"
                                                        style="position:absolute;opacity:0;top:0;left:0;width:100%;height:100%;cursor:pointer;">
                                                        </form>
                                                    </a>
                                                </span>
                                            </span>
                                            <a class="g-button" data-button-index="2" href="javascript:newFileFolder();" title="新建文件夹" style="display: inline-block;">
                                                <span class="g-button-right">
                                                    <em class="icon icon-newfolder" title="新建文件夹"></em>
                                                    <span class="text" style="width: auto;">新建文件夹</span>
                                                </span>
                                            </a>
                                            <div class="QDDOQB" style="position: absolute; top: 0px; line-height: normal; padding-top: 11px; display: block; margin-left: 235px; width: 100px; visibility: visible;">
                                                <div style="display:none;width:100%;height:100%;z-index:30;position:absolute;top:0;left:0;"></div>
                                                <a class="g-button" data-button-index="1" href="javascript:;" title="分享" style="display: none;">
                                                    <span class="g-button-right">
                                                        <em class="icon icon-share" title="分享"></em>
                                                        <span class="text" style="width: auto;">分享</span>
                                                    </span>
                                                </a>
                                                <a class="g-button" data-button-index="3" href="javascript:;" title="下载" style="display: none;">
                                                    <span class="g-button-right">
                                                        <em class="icon icon-download" title="下载"></em>
                                                        <span class="text" style="width: auto;">下载</span>
                                                    </span>
                                                </a>
                                                <a class="g-button" data-button-index="4" href="javascript:;" title="删除" style="display: none;">
                                                    <span class="g-button-right">
                                                        <em class="icon icon-delete" title="删除"></em>
                                                        <span class="text" style="width: auto;">删除</span>
                                                    </span>
                                                </a>
                                                <a class="g-button" data-button-index="5" href="javascript:;" title="移动到" style="display: none;">
                                                    <span class="g-button-right">
                                                        <span class="text" style="width: auto;">移动到</span>
                                                    </span>
                                                </a>
                                                <span class="g-dropdown-button last-button" style="display: inline-block;">
                                                    <a class="g-button" data-button-index="6" href="javascript:;" title="复制到" style="display: none;">
                                                        <span class="g-button-right">
                                                            <span class="text" style="width: auto;">复制到</span>
                                                        </span>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="button-box-mark" style="display:inline-block;*display:inline;*zoom:1;width:1px;height:1px;line-height:0;"></div>
                                    </div>
                                </div>
                                <div class="bisp1zmG"></div>
                                <div class="rjLRBW">
                                </div>
                                <div node-type="EQBfLM" class="EQBfLM g-clearfix">
                                    <a href="https://pan.baidu.com/disk/timeline" class="AbMfvg">时光轴</a>
                                    <a href="javascript:void(0);" class="AbMfvg selected">最近上传</a>
                                </div>
                            </div>
                            <div class="YfcczA" node-type="YfcczA">
                                <!--[if IE]>
                                <iframe id="historyIFrameEmulator" style="display: none"></iframe><![endif]-->
                                <div node-type="KPDwCE" class="KPDwCE" style="height: 934px;">
                                    <div node-type="JDeHdxb" class="JDeHdxb">
                                        <span class="EgMMec">全部文件</span>
                                        <ul id="FuIxtL" class="FuIxtL" node-type="FuIxtL" style="display: none;">
                                            <li>
                                                <a id="backLast" href="javascript:;">返回上一级</a>
                                                <span class="EKIHPEb">|</span>
                                            </li>
                                            <li id = "linkfolder" node-type="tbAudfb">

                                            </li>
                                        </ul>
                                    </div>
                                    <div class="QxJxtg">
                                        <div class="xGLMIab">
                                            <ul class="QAfdwP tvPMvPb" node-type="tvPMvPb">
                                                <li data-key="name" class="fufHyA yfHIsP" style="width:60%;">
                                                    <div node-type="fydGNC" class="Qxyfvg fydGNC">
                                                        <span class="zbyDdwb"></span>
                                                        <span class="MIMvNNb">全选</span>
                                                        <span class="icon NbKJexb icon-checksmall"></span></div>
                                                    <span class="text">文件名</span>
                                                    <span class="xEuDywb"></span>
                                                    <span class="icon aHEytd icon-up"></span>
                                                    <span class="icon sFxCFbb icon-downtitle"></span>
                                                </li>
                                                <li data-key="size" class="fufHyA" style="width:16%;">
                                                    <span class="text">大小</span>
                                                    <span class="xEuDywb"></span>
                                                    <span class="icon aHEytd icon-up"></span>
                                                    <span class="icon sFxCFbb icon-downtitle"></span>
                                                </li>
                                                <li data-key="time" class="fufHyA gObdAzb MCGAxG" style="width:23%;">
                                                    <span class="text">修改日期</span>
                                                    <span class="xEuDywb"></span>
                                                    <span class="icon aHEytd icon-up"></span>
                                                    <span class="icon sFxCFbb icon-downtitle"></span>
                                                </li>

                                            </ul>
                                            <ul class="vwCPvP tvPMvPb" node-type="tvPMvPb" style="display: none;">
                                                <li class="fufHyA yfHIsP">
                                                    <div node-type="fydGNC" class="Qxyfvg fydGNC">
                                                        <span class="zbyDdwb"></span>
                                                        <span class="MIMvNNb">全选</span>
                                                        <span class="icon NbKJexb icon-checksmall"></span>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="FcQMwt global-clearfix"><span class="MdLxwM"></span>
                                                <div class="KKtwaH"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="zJMtAEb" style="">
                                        <div node-type="NHcGw" class="NHcGw" style="overflow-y: auto; height: 876px;">
                                            <div class="vdAfKMb" style="height: auto;">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="fyQgAEb" style="display: none;">
                                        <div node-type="BNfIyPb" class="BNfIyPb" style="height: 876px;">
                                            <div class="JKvHJMb"></div>
                                        </div>
                                    </div>
                                    <div class="wPQwLCb" style="visibility: hidden;">
                                        <div class="gQNsDv">
                                            <svg class="spinner" width="26px" height="26px" viewBox="0 0 66 66"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round"
                                                        cx="33" cy="33" r="30" style="stroke:#09aaff"></circle>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="ExFGye" style="left: 20px; top: 58px;">
                                        <div class="vcbrLkGO">
                                            <input node-type="csztLl4K" class="GadHyA" type="text" value="">
                                            <span node-type="giqzLkrO" class="fvdQMx">
                                                <em class="icon qeiLbaQ"></em>
                                                <em class="icon tudro3"></em>
                                            </span>
                                            <span node-type="eqfdwPZ" class="gtLWGp">
                                                <em class="icon qeiLbaQ"></em>
                                                <em class="icon waabLpR4"></em>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mVLydx" node-type="mVLydx">
            <div class="frame-main" id="layoutServiceHolder" style="display: none;"></div>
        </div>
    </div>
</div>
<div class="dialog dialog-web-uploader dialog-blue h5-uploader" id="web-uploader" style="width: 633px; top: auto; bottom: 0px; left: auto; right: 30px; display: none; visibility: visible; z-index: 42;">
    <div class="dialog-header" style="display: block;">
        <h3>
            <span class="dialog-header-title">
                <em class="select-text">上传列表</em>
            </span>
        </h3>
        <div class="dialog-control">
            <span class="dialog-icon dialog-close icon icon-close">
                <span class="sicon">×</span>
            </span>
            <span class="dialog-icon dialog-min icon icon-minimize">
                <span class="sicon">-</span>
            </span>
        </div>
    </div>
    <div class="dialog-min-header" style="display: none;">
        <div class="header-progress" style="width: 0%; display: none;"></div>
        <h3>
            <span class="dialog-header-title">
                <em class="select-text">上传列表</em>
            </span>
        </h3>
        <div class="dialog-control">
            <span class="dialog-icon dialog-close icon icon-close">
                <span class="sicon">×</span>
            </span>
            <span class="dialog-icon dialog-back icon icon-maximizing">
                <span class="sicon">□</span>
            </span>
        </div>
    </div>
    <div class="dialog-body" style="display: block;">
        <div class="uploader-list-wrapper">
            <div class="uploader-list-header">
                <div class="file-name">文件(夹)名</div>
                <div class="file-size">大小</div>
                <div class="file-path">上传目录</div>
                <div class="file-status">状态</div>
                <div class="file-operate">操作</div>
            </div>
            <div class="uploader-list">
                <ul class="listContainer" id="uploaderList">

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="dialog dialog-web-uploader   dialog-blue h5-uploader" id="web-downloader" style="width: 633px; top: auto; bottom: 0px; left: auto; right: 30px; display: none; visibility: visible; z-index: 42;">
    <div class="dialog-header" style="display: block;">
        <h3>
            <span class="dialog-header-title">
                <em class="select-text">下载列表</em>
            </span>
        </h3>
        <div class="dialog-control">
            <span class="dialog-icon dialog-close icon icon-close">
                <span class="sicon">×</span>
            </span>
            <span class="dialog-icon dialog-min icon icon-minimize">
                <span class="sicon">-</span>
            </span>
        </div>
    </div>
    <div class="dialog-min-header" style="display: none;">
        <div class="header-progress" style="width: 0%; display: none;"></div>
        <h3>
            <span class="dialog-header-title">
                <em class="select-text">下载列表</em>
            </span>
        </h3>
        <div class="dialog-control">
            <span class="dialog-icon dialog-close icon icon-close">
                <span class="sicon">×</span>
            </span>
            <span class="dialog-icon dialog-back icon icon-maximizing">
                <span class="sicon">□</span>
            </span>
        </div>
    </div>
    <div class="dialog-body" style="display: block;">
        <div class="uploader-list-wrapper">
            <div class="uploader-list-header">
                <div class="file-name">文件(夹)名</div>
                <div class="file-size">大小</div>
                <div class="file-status">状态</div>
                <div class="file-operate">操作</div>
            </div>
            <div class="uploader-list">
                <ul class="listContainer" id="downloaderList">

                </ul>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: layout-latest-js" />
<th:block th:include="include :: rightButton" />
<th:block th:include="include :: huawei" />
<div class="module-canvas" style="position: fixed; left: 0px; top: 0px; z-index: 50; background: rgb(0, 0, 0); opacity: 0.5; width: 100%; height: 100%; display: none;"></div>
<div class="dialog dialog-confirm   dialog-gray" id="confirm" style="position:relative;width: 460px; top: 30%; bottom: auto; display: none; visibility: visible; z-index: 52;margin:0 auto;">
    <div class="dialog-header dialog-drag">
        <h3>
            <span class="dialog-header-title">
                <em class="select-text">确认删除</em>
            </span>
        </h3>
        <div class="dialog-control">
            <span class="dialog-icon dialog-close icon icon-close" onclick="cancelDel()">
                <span class="sicon">×</span>
            </span>
        </div>
    </div>
    <div class="dialog-body">
        <div style="text-align:center;padding:40px 22px 22px 22px;">确认要把所选文件放入回收站吗？</div>
    </div>
    <div class="dialog-footer g-clearfix">
        <a class="g-button g-button-blue-large" data-button-id="b77" data-filename="" href="javascript:delObject();" title="确定" style="padding-left: 50px;">
            <span class="g-button-right" style="padding-right: 50px;">
                <span class="text" style="width: auto;">确定</span>
            </span>
        </a>
        <a class="g-button g-button-large" data-button-id="b79" data-filename="" href="javascript:cancelDel();" title="取消" style="padding-left: 50px;">
            <span class="g-button-right" style="padding-right: 50px;">
                <span class="text" style="width: auto;">取消</span>
            </span>
        </a>
    </div>
</div>
<div class="module-yun-tip" style="top: 74px; left: 50%; margin-left: -41px; opacity: 1; display: none;">
    <div class="tip-inner">
        <span class="tip-icon icon icon-tips-success"></span>
        <span class="tip-msg">删除成功</span>
    </div>
</div>
<div class="dialog dialog-share dialog-gray" id="share" style="position:relative; width: 660px; overflow: visible; z-index: 53; top: 15%; bottom: auto; right: auto; display: none; visibility: visible;margin:0 auto;">
    <div class="dialog-header dialog-drag">
        <h3>
            <span class="dialog-header-title">
                <em class="select-text"></em>
            </span>
        </h3>
        <div class="dialog-control">
            <span class="dialog-icon dialog-close icon icon-close" onclick="closeShare()">
                <span class="sicon">×</span>
            </span>
        </div>
    </div>
    <div class="dialog-body">
        <div class="share-dialog">
            <div class="content" id="_disk_id_1">
                <div class="content-bd">
                    <ul class="content">
                        <li class="share-link" style="display: block;">
                            <div class="create-link private-link has-create">
                                <table class="validity-section" style="display: block;border-bottom: yellow!important;">
                                    <tbody>
                                        <tr>
                                            <td class="first-child">
                                                <label>文件名</label>
                                            </td>
                                            <td id="shareFileName">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="first-child">
                                                <label>有效期(分钟)</label>
                                            </td>
                                            <td class="choose-panel">
                                                <input id="shareTime" type="text" onkeyup="value=value.replace(/[^\d]/g,'')" onBlur="checkShareTime(this)" onfocus="inputTime(this)" spellingcheck="false" placeholder="请输入1到1080的整数。" class="share-url-border" value="30">
                                            </td>
                                        </tr>
                                        <tr style="display: none">
                                            <td class="first-child">
                                                <label>提取码</label>
                                            </td>
                                            <td class="choose-panel">
                                                <input type="text" onkeyup="value=value.replace(/[^\d]/g,'')" onfocus="inputTime(this)" spellingcheck="false" placeholder="请输入六位数字提取码。" class="share-url-border">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="first-child">
                                                <label>URL</label>
                                            </td>
                                            <td style="display: none" id="shareBtnTd">
                                                <a href="javascript:createShare();" class="g-button g-button-large g-button-large-gray abtn close" id="createShareBtn">
                                                    <span class="g-button-right">
                                                        <span class="text">创建分享</span>
                                                    </span>
                                                </a>
                                            </td>
                                            <td class="ti-textarea-container share-textarea" style="height: 200px; width: 430px; margin: 0px;" id="urlArea">
                                                <textarea id = "shareURL" class="ng-pristine ng-untouched ng-valid" ti-textarea resize="form.shareObject.resizable" readonly="readonly">
                                                </textarea>
                                                <input id = "sharePath" style="position: absolute;opacity: 0;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="first-child">
                                            </td>
                                            <td id = "copyTypeTd">
                                                <a onclick="copyURL()">复制URL</a>
                                                <a style="margin-left: 50px;" onclick="copyPath()">复制路径</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="create-success">
                                    <span class="public">
                                        <em class="icon"></em> 复制成功,您可以使用Ctrl+V进行分享
                                    </span>
                                    <span class="public">
                                        <em class="icon"></em> 文件路径已复制到剪贴板
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer">
                <a href="javascript:closeShare();" class="g-button g-button-large g-button-large-gray abtn close">
                    <span class="g-button-right">
                        <span class="text">关闭</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
<form id="importForm" enctype="multipart/form-data" class="mt20 mb10" style="display: none;">
    <div class="col-xs-offset-1">
        <input type="file" id="file" name="file"/>
        <div class="mt10 pt5">
            <input type="checkbox" id="updateSupport" name="updateSupport" title="如果登录账户已经存在，更新这条数据。"> 是否更新已经存在的用户数据
            &nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
        </div>
        <font color="red" class="pull-left mt10">
            提示：仅允许导入“xls”或“xlsx”格式文件！
        </font>
    </div>
</form>
</html>